* {
    margin: 0;
}

#home {
    background: url(./img/welcome/windows-11-landscape-scenery-sunrise-stock-day-light-3840x2400-5661.jpg);
}

#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    width: 800px;
    height: 320px;
    margin-top: 15%;
    margin-left: 30%;
}

#welcome h1,
a {
    font-family: 'Dancing Script', cursive;
    color: #FFF;
    font-size: 40px;
    font-weight: bold;

}

#welcome a {
    text-decoration: none;
}

#welcome a:hover {
    color: cornsilk;
}


/* NAV */

nav {
    margin: 27px auto 0;
    position: relative;
    width: 470px;
    height: 50px;
    background-color: #34495e;
    border-radius: 8px;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    line-height: 50px;
    height: 100%;
    font-size: 10px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    font-size: bold;
    cursor: pointer;
}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}

a:nth-child(1) {
    width: 100px;
}

a:nth-child(2) {
    width: 110px;
}

a:nth-child(3) {
    width: 100px;
}

a:nth-child(4) {
    width: 160px;
}

a:nth-child(5) {
    width: 120px;
}

nav .start-home,
a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #1abc9c;
}

nav .start-about,
a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
    background-color: #e74c3c;
}

nav .start-blog,
a:nth-child(3):hover~.animation {
    width: 100px;
    left: 210px;
    background-color: #3498db;
}

nav .start-portefolio,
a:nth-child(4):hover~.animation {
    width: 160px;
    left: 310px;
    background-color: #9b59b6;
}

nav .start-contact,
a:nth-child(5):hover~.animation {
    width: 120px;
    left: 470px;
    background-color: #e67e22;
}

h1 {
    text-align: center;
    margin: 40px 0 40px;
    text-align: center;
    font-size: 30px;
    color: #F78463;
    text-shadow: 4px 4px 8px #000000;
    font-family: 'Sofia Sans', sans-serif;
}

p {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 16px;
}

span {
    color: #2BD6B4;
}

/* ----------------------------------------------------------------- */

header {
    margin: auto;
}

#main-content {
    margin-top: 10px;
    width: 100%;
    display: flex;
    height: 1480px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-left: 8px;
    padding-right: 8px;
}

#tropical-house,
#deep-house,
#chill-house {
    width: 100%;
    height: 420px;
    border-radius: 10px;
    font-family: 'Sofia Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}   
    
#tropical-house {
    background-color: #906D7C;
}

#deep-house {
    background-color: #C02800;
}

#chill-house {
    background-color: #5F7C82;
}

#name-playlist-tropical-house,
#name-playlist-deep-house,
#name-playlist-chill-house {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 10px;
    width: 200px;
    font-weight: bold;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 20px;
    color: #F78463;
    text-shadow: 4px 4px 8px #000000;
    text-decoration: none;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    background: #333;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    min-height: 100vh;
    margin-left: 0;
}

.footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    margin-left: 0;

}

.social-icon{
    display: flex;
    flex-direction: row;;
    justify-content: center;
    gap: 20px;
}
.social-icon img{
    height: 34px;
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}

@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}